@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  margin-inline: 3rem;
}

/* HEADER */
#header {
  margin-block: 2rem;
  padding-inline: 2rem;
}
#header img {
  width: 10rem;
  text-align: left;
}
#timer-box {
  float: right;

  /*position: fixed;
  top: 40px;
  right: 100px;
  /* margin-inline: 2rem; */
}
#quiz {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#sectionForQuiz {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
   margin-inline: auto; */
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

h3 {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

/* classe per i bottoni per le risposte */

.answersContainer button {
  height: 5rem;
  width: 35%;
  min-width: 250px;
  min-height: 74px;
  border-radius: 100px;
  margin: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -moz-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  font-size: large;
  font-weight: 800;
  font-weight: bolder;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.answersContainer button:hover {
  background-color: #3a2656;
}

.answersContainer {
  display: inline-block;
}
/* classi per risposte */
.answersContainer .selected {
  background-color: #3a2656;
}
#quiz .answersContainer .correctAnswer {
  background-color: green;
}
#quiz .answersContainer .wrongAnswer {
  background-color: red;
}

/* FOOTER  */
/* classe per la section che conterrà il numero della domanda corrente */
.progress {
  color: white;
  text-align: left;
  font-size: large;
  margin-right: 77rem;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.barraLunghezza {
  color: #900080;
}

/* div che contiene il bottone nel footer  */

.nextContainer {
  position: relative;
  margin-right: 2rem;
  /* padding-left: 80rem; */
  /* display: inline-block; */
  text-align: center;
  /* se si vuole il bottone a destra */
  /* float: right; */
}
#quiz .nextContainer .nextButton {
  background-color: transparent;
  /* border-color: rgba(255, 255, 255, 0.9); */
  color: white;
  height: 70px;
  width: 300px;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.71) inset;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.71) inset;
  -moz-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.71) inset;
}

#quiz .nextContainer .nextButton:hover {
  background-color: #3a2656;
}

/* font al button */
.nextContainer button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  border: solid 1px white;
}

/* PAGINA RESULTS */
/* div per la scritta results */
.resultsTest {
  color: white;
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.resultsTest p,
h1 {
  margin: 1rem;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
a button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* section per il grafico e percentuale */
#graphSection {
  color: white;
  text-align: center;
  margin-top: 3rem;
}
#graphSection div {
  display: inline-block;
  margin-inline: 5rem;
}
/* #container {
  width: 100%;
  height: 100%;
} */

/* bottone per dare una  recensione */
#rateUs {
  text-align: center;
  margin-top: 3rem;
}
#rateUs button {
  margin-block: 4rem;
  background-color: transparent;
  color: white;
  height: 5rem;
  width: 20rem;
  border: solid white 2px;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
}
