body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  margin-inline: 3rem;
}

/* HEADER */
#header {
  margin-block: 2rem;
  padding-inline: 2rem;
}
#header img {
  width: 10rem;
  text-align: left;
}
#timer-box {
  position: fixed;
  top: 40px;
  right: 100px;
  /* margin-inline: 2rem; */
}

#sectionForQuiz {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
   margin-inline: auto; */
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

h3 {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

/* classe per i bottoni per le risposte */

.answersContainer button {
  height: 5rem;
  width: 40rem;
  border-radius: 100px;
  margin: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -moz-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  font-size: large;
  font-weight: 800;
}

.answersContainer {
  display: inline-block;
}
/* classi per risposte */
.answersContainer .correctAnswer {
  background-color: green;
}
.answersContainer .wrongAnswer {
  background-color: red;
}
/* FOOTER  */
/* classe per la section che conterrà il numero della domanda corrente */
.progress {
  color: white;
  text-align: left;
  font-size: large;
  margin-left: 2rem;
  margin-right: 77rem;
  display: inline-block;
}
footer span {
  color: purple;
}
/* div che contiene il bottone nel footer  */

.nextContainer {
  position: relative;

  margin-right: 2rem;
  /* padding-left: 80rem; */
  display: inline-block;
  text-align: right;
}
.nextButton {
  float: right;

  background-color: transparent;
  color: white;
  height: 80px;
  width: 300px;
  margin-inline: 2rem;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}

/* PAGINA RESULTS */
/* div per la scritta results */
.resultsTest {
  color: white;
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.resultsTest p,
h1 {
  margin: 1rem;
}
/* section per il grafico e percentuale */
#graphSection {
  color: white;
  text-align: center;
  margin-top: 3rem;
}
#graphSection div {
  display: inline-block;
  margin-inline: 5rem;
}
/* #container {
  width: 100%;
  height: 100%;
} */

/* bottone per dare una  recensione */
#rateUs {
  text-align: center;
  margin-top: 3rem;
}
#rateUs button {
  margin-block: 4rem;
  background-color: transparent;
  color: white;
  height: 5rem;
  width: 20rem;
  border: solid white 2px;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
}
