body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  margin-inline: 3rem;
}

/* HEADER */
#header {
  margin-block: 2rem;

  padding-inline: 2rem;
  /* border: solid black 1px; */
}
#header img {
  width: 10rem;
  text-align: left;
}
#timer-box {
  text-align: right;
  padding-inline: 8rem;
  border-radius: 50%;
}

/* MAIN */
main {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
  /* margin-inline: auto; */
}

h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  /* padding-inline: 10rem; */
  margin-inline: all;
}

/* classe per i bottoni per le risposte */
.answersContainer button {
  height: 5rem;
  width: 40rem;
  border-radius: 100px;
  margin: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  -moz-box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.71) inset;
  font-size: large;
  font-weight: 800;
}
.answersContainer {
  display: inline-block;
}
/* FOOTER */
footer {
  color: white;
  text-align: center;
  font-size: large;
}
footer span {
  color: purple;
}

/* 1920 x 1080 */
